@font-face {
    font-family: 'Futura';
    src: local('Futura Bold'), local('Futura-Bold'),
        url('FuturaLT-Bold.woff2') format('woff2'),
        url('FuturaLT-Bold.woff') format('woff'),
        url('FuturaLT-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


html {
    font-family: "Roboto Flex", sans-serif;
    font-size: 62.5%;
    box-sizing: border-box;
    touch-action: pan-y;
    font-size: 62.5%;
    font-smooth: always;
    text-rendering: optimizeLegibility;
    -ms-overflow-style: scrollbar;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
}

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    font-family: inherit;
    font-size: 1.6rem;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
    background-image: url(../img/FONDO.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
.titulo {
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-top: 1%;
    transition: transform 0.3s ease;
}

.titulo h1 {
    font-size: 50px;
    color: white;
    margin: 0;
}

.titulo img {
    width: 100px;
    margin-left: 30px;
}

.titulo:hover {
    transform: scale(1.1);
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.slider {
    position: relative;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

.slider__viewport {
    position: relative;
    height: 100%;
    width: 100%;
}

.slider__viewbox {
    display: block;
    position: relative;
    perspective: 100vw;
    margin: 0 auto;
    width: 33.3333333333%;
    max-width: calc(50vh);
    z-index: 0;
}

.slider__viewbox::before {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    content: "";
    height: 0;
    padding-bottom: 150%;
    width: 100%;
}

.slider__container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: transform 0.3s cubic-bezier(0.62, 0.28, 0.23, 0.99) 0.3s;
    transform-style: preserve-3d;
}

.slider-target {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
}

input.slider-target {
    display: none;
}

.slider-target:first-of-type:last-of-type~.slider__viewport .slider-item:nth-child(1) .slider-item__trigger {
    display: none;
}

.slider-target:nth-of-type(1):checked~.slider__viewport .slider__container {
    transform: translateX(0%);
}

.slider-target:nth-of-type(2):checked~.slider__viewport .slider__container {
    transform: translateX(-50%);
}

.slider-target:nth-of-type(3):checked~.slider__viewport .slider__container {
    transform: translateX(-100%);
}

.slider-target:nth-of-type(4):checked~.slider__viewport .slider__container {
    transform: translateX(-150%);
}

.slider-target:nth-of-type(5):checked~.slider__viewport .slider__container {
    transform: translateX(-200%);
}

.slider-target:nth-of-type(6):checked~.slider__viewport .slider__container {
    transform: translateX(-250%);
}


.slider-item {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transform: translate3d(0, 0, -15vh) rotateY(45deg);
    transition: transform 0.6s cubic-bezier(0.62, 0.28, 0.23, 0.99) 0.15s;
}

.slider-item:nth-child(1) {
    left: 0%;
}

.slider-item:nth-child(2) {
    left: 50%;
}

.slider-item:nth-child(3) {
    left: 100%;
}

.slider-item:nth-child(4) {
    left: 150%;
}

.slider-item:nth-child(5) {
    left: 200%;
}

.slider-item:nth-child(6) {
    left: 250%;
}


.slider-item__trigger {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    height: 120%;
    margin-left: -10%;
    margin-top: -10%;
    z-index: 100;
    cursor: pointer;
}

.slider-target:nth-of-type(7):checked~.slider__viewport .slider-item:nth-child(7) .slider-item__trigger,
.slider-target:nth-of-type(6):checked~.slider__viewport .slider-item:nth-child(6) .slider-item__trigger,
.slider-target:nth-of-type(5):checked~.slider__viewport .slider-item:nth-child(5) .slider-item__trigger,
.slider-target:nth-of-type(4):checked~.slider__viewport .slider-item:nth-child(4) .slider-item__trigger,
.slider-target:nth-of-type(3):checked~.slider__viewport .slider-item:nth-child(3) .slider-item__trigger,
.slider-target:nth-of-type(2):checked~.slider__viewport .slider-item:nth-child(2) .slider-item__trigger,
.slider-target:nth-of-type(1):checked~.slider__viewport .slider-item:nth-child(1) .slider-item__trigger {
    display: none;
}

.slider-item__inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-origin: center center;
    transform: scale(0.75);
    transition: transform 0.3s cubic-bezier(0.62, 0.28, 0.23, 0.99) 0s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 10;
}

.slider-item__inner::before,
.slider-item__inner::after {
    display: block;
    position: absolute;
    content: "";
}

.slider-item__inner::before {
    top: 24px;
    left: 24px;
    bottom: 24px;
    right: 24px;
    z-index: 0;
    transition: transform 0.3s cubic-bezier(0.62, 0.28, 0.23, 0.99) 0.15s;
    transform: translate(-24px, 12px);
}

.slider-item__inner::after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
    background-repeat: repeat-x;
    background-size: 200% 100%;
    background-position: 0% 0%;
    transition: opacity 0.6s linear, background-position 0.3s linear;
}

.slider-target:nth-of-type(7):checked~.slider__viewport .slider-item:nth-child(7) .slider-item__inner,
.slider-target:nth-of-type(6):checked~.slider__viewport .slider-item:nth-child(6) .slider-item__inner,
.slider-target:nth-of-type(5):checked~.slider__viewport .slider-item:nth-child(5) .slider-item__inner,
.slider-target:nth-of-type(4):checked~.slider__viewport .slider-item:nth-child(4) .slider-item__inner,
.slider-target:nth-of-type(3):checked~.slider__viewport .slider-item:nth-child(3) .slider-item__inner,
.slider-target:nth-of-type(2):checked~.slider__viewport .slider-item:nth-child(2) .slider-item__inner,
.slider-target:nth-of-type(1):checked~.slider__viewport .slider-item:nth-child(1) .slider-item__inner {
    transform: scale(1);
    transition-delay: 0.6s;
}

.slider-target:nth-of-type(7):checked~.slider__viewport .slider-item:nth-child(7) .slider-item__inner::before,
.slider-target:nth-of-type(6):checked~.slider__viewport .slider-item:nth-child(6) .slider-item__inner::before,
.slider-target:nth-of-type(5):checked~.slider__viewport .slider-item:nth-child(5) .slider-item__inner::before,
.slider-target:nth-of-type(4):checked~.slider__viewport .slider-item:nth-child(4) .slider-item__inner::before,
.slider-target:nth-of-type(3):checked~.slider__viewport .slider-item:nth-child(3) .slider-item__inner::before,
.slider-target:nth-of-type(2):checked~.slider__viewport .slider-item:nth-child(2) .slider-item__inner::before,
.slider-target:nth-of-type(1):checked~.slider__viewport .slider-item:nth-child(1) .slider-item__inner::before {
    transform: translate(0, 24px);
}

.slider-target:nth-of-type(7):checked~.slider__viewport .slider-item:nth-child(7) .slider-item__inner::after,
.slider-target:nth-of-type(6):checked~.slider__viewport .slider-item:nth-child(6) .slider-item__inner::after,
.slider-target:nth-of-type(5):checked~.slider__viewport .slider-item:nth-child(5) .slider-item__inner::after,
.slider-target:nth-of-type(4):checked~.slider__viewport .slider-item:nth-child(4) .slider-item__inner::after,
.slider-target:nth-of-type(3):checked~.slider__viewport .slider-item:nth-child(3) .slider-item__inner::after,
.slider-target:nth-of-type(2):checked~.slider__viewport .slider-item:nth-child(2) .slider-item__inner::after,
.slider-target:nth-of-type(1):checked~.slider__viewport .slider-item:nth-child(1) .slider-item__inner::after {
    background-position: -50% 0%;
    opacity: 0;
}

.slider-target:nth-of-type(7):checked~.slider__viewport .slider-item:nth-child(8)~.slider-item .slider-item__inner::before,
.slider-target:nth-of-type(6):checked~.slider__viewport .slider-item:nth-child(7)~.slider-item .slider-item__inner::before,
.slider-target:nth-of-type(5):checked~.slider__viewport .slider-item:nth-child(6)~.slider-item .slider-item__inner::before,
.slider-target:nth-of-type(4):checked~.slider__viewport .slider-item:nth-child(5)~.slider-item .slider-item__inner::before,
.slider-target:nth-of-type(3):checked~.slider__viewport .slider-item:nth-child(4)~.slider-item .slider-item__inner::before,
.slider-target:nth-of-type(2):checked~.slider__viewport .slider-item:nth-child(3)~.slider-item .slider-item__inner::before,
.slider-target:nth-of-type(1):checked~.slider__viewport .slider-item:nth-child(2)~.slider-item .slider-item__inner::before,
.slider-target:nth-of-type(7):checked~.slider__viewport .slider-item:nth-child(8) .slider-item__inner::before,
.slider-target:nth-of-type(6):checked~.slider__viewport .slider-item:nth-child(7) .slider-item__inner::before,
.slider-target:nth-of-type(5):checked~.slider__viewport .slider-item:nth-child(6) .slider-item__inner::before,
.slider-target:nth-of-type(4):checked~.slider__viewport .slider-item:nth-child(5) .slider-item__inner::before,
.slider-target:nth-of-type(3):checked~.slider__viewport .slider-item:nth-child(4) .slider-item__inner::before,
.slider-target:nth-of-type(2):checked~.slider__viewport .slider-item:nth-child(3) .slider-item__inner::before,
.slider-target:nth-of-type(1):checked~.slider__viewport .slider-item:nth-child(2) .slider-item__inner::before {
    transform: translate(24px, 12px);
}

.slider-target:nth-of-type(7):checked~.slider__viewport .slider-item:nth-child(8)~.slider-item .slider-item__inner::after,
.slider-target:nth-of-type(6):checked~.slider__viewport .slider-item:nth-child(7)~.slider-item .slider-item__inner::after,
.slider-target:nth-of-type(5):checked~.slider__viewport .slider-item:nth-child(6)~.slider-item .slider-item__inner::after,
.slider-target:nth-of-type(4):checked~.slider__viewport .slider-item:nth-child(5)~.slider-item .slider-item__inner::after,
.slider-target:nth-of-type(3):checked~.slider__viewport .slider-item:nth-child(4)~.slider-item .slider-item__inner::after,
.slider-target:nth-of-type(2):checked~.slider__viewport .slider-item:nth-child(3)~.slider-item .slider-item__inner::after,
.slider-target:nth-of-type(1):checked~.slider__viewport .slider-item:nth-child(2)~.slider-item .slider-item__inner::after,
.slider-target:nth-of-type(7):checked~.slider__viewport .slider-item:nth-child(8) .slider-item__inner::after,
.slider-target:nth-of-type(6):checked~.slider__viewport .slider-item:nth-child(7) .slider-item__inner::after,
.slider-target:nth-of-type(5):checked~.slider__viewport .slider-item:nth-child(6) .slider-item__inner::after,
.slider-target:nth-of-type(4):checked~.slider__viewport .slider-item:nth-child(5) .slider-item__inner::after,
.slider-target:nth-of-type(3):checked~.slider__viewport .slider-item:nth-child(4) .slider-item__inner::after,
.slider-target:nth-of-type(2):checked~.slider__viewport .slider-item:nth-child(3) .slider-item__inner::after,
.slider-target:nth-of-type(1):checked~.slider__viewport .slider-item:nth-child(2) .slider-item__inner::after {
    background-position: -100% 0%;
}

/* este es el slider para aumentar  */
.slider-target:nth-of-type(14):checked~.slider__viewport .slider-item:nth-child(14),
.slider-target:nth-of-type(13):checked~.slider__viewport .slider-item:nth-child(13),
.slider-target:nth-of-type(12):checked~.slider__viewport .slider-item:nth-child(12),
.slider-target:nth-of-type(11):checked~.slider__viewport .slider-item:nth-child(11),
.slider-target:nth-of-type(10):checked~.slider__viewport .slider-item:nth-child(10),
.slider-target:nth-of-type(9):checked~.slider__viewport .slider-item:nth-child(9),
.slider-target:nth-of-type(8):checked~.slider__viewport .slider-item:nth-child(8),
.slider-target:nth-of-type(7):checked~.slider__viewport .slider-item:nth-child(7),
.slider-target:nth-of-type(6):checked~.slider__viewport .slider-item:nth-child(6),
.slider-target:nth-of-type(5):checked~.slider__viewport .slider-item:nth-child(5),
.slider-target:nth-of-type(4):checked~.slider__viewport .slider-item:nth-child(4),
.slider-target:nth-of-type(3):checked~.slider__viewport .slider-item:nth-child(3),
.slider-target:nth-of-type(2):checked~.slider__viewport .slider-item:nth-child(2),
.slider-target:nth-of-type(1):checked~.slider__viewport .slider-item:nth-child(1) {
    color: #fff;
    transform: translate3d(0, 0, 0) rotateY(0deg);
}

/* este */

/* For expanding the slider to accommodate more items */
.slider-target:nth-of-type(14):checked~.slider__viewport .slider-item:nth-child(13),
.slider-target:nth-of-type(13):checked~.slider__viewport .slider-item:nth-child(12),
.slider-target:nth-of-type(12):checked~.slider__viewport .slider-item:nth-child(11),
.slider-target:nth-of-type(11):checked~.slider__viewport .slider-item:nth-child(10),
.slider-target:nth-of-type(10):checked~.slider__viewport .slider-item:nth-child(9),
.slider-target:nth-of-type(9):checked~.slider__viewport .slider-item:nth-child(8),
.slider-target:nth-of-type(8):checked~.slider__viewport .slider-item:nth-child(7),
.slider-target:nth-of-type(7):checked~.slider__viewport .slider-item:nth-child(6),
.slider-target:nth-of-type(6):checked~.slider__viewport .slider-item:nth-child(5),
.slider-target:nth-of-type(5):checked~.slider__viewport .slider-item:nth-child(4),
.slider-target:nth-of-type(4):checked~.slider__viewport .slider-item:nth-child(3),
.slider-target:nth-of-type(3):checked~.slider__viewport .slider-item:nth-child(2),
.slider-target:nth-of-type(2):checked~.slider__viewport .slider-item:nth-child(1),
.slider-target:nth-of-type(1):checked~.slider__viewport .slider-item:nth-child(0) {
    transform: translate3d(-20%, 0, -10vh) rotateY(50deg);
}

/* For the opposite side of the slider */
.slider-target:nth-of-type(14):checked~.slider__viewport .slider-item:nth-child(15),
.slider-target:nth-of-type(13):checked~.slider__viewport .slider-item:nth-child(14),
.slider-target:nth-of-type(12):checked~.slider__viewport .slider-item:nth-child(13),
.slider-target:nth-of-type(11):checked~.slider__viewport .slider-item:nth-child(12),
.slider-target:nth-of-type(10):checked~.slider__viewport .slider-item:nth-child(11),
.slider-target:nth-of-type(9):checked~.slider__viewport .slider-item:nth-child(10),
.slider-target:nth-of-type(8):checked~.slider__viewport .slider-item:nth-child(9),
.slider-target:nth-of-type(7):checked~.slider__viewport .slider-item:nth-child(8),
.slider-target:nth-of-type(6):checked~.slider__viewport .slider-item:nth-child(7),
.slider-target:nth-of-type(5):checked~.slider__viewport .slider-item:nth-child(6),
.slider-target:nth-of-type(4):checked~.slider__viewport .slider-item:nth-child(5),
.slider-target:nth-of-type(3):checked~.slider__viewport .slider-item:nth-child(4),
.slider-target:nth-of-type(2):checked~.slider__viewport .slider-item:nth-child(3),
.slider-target:nth-of-type(1):checked~.slider__viewport .slider-item:nth-child(2) {
    transform: translate3d(20%, 0, -10vh) rotateY(-50deg);
}

/* For the rest of the items */
.slider-target:nth-of-type(14):checked~.slider__viewport .slider-item:nth-child(n+16),
.slider-target:nth-of-type(13):checked~.slider__viewport .slider-item:nth-child(n+15),
.slider-target:nth-of-type(12):checked~.slider__viewport .slider-item:nth-child(n+14),
.slider-target:nth-of-type(11):checked~.slider__viewport .slider-item:nth-child(n+13),
.slider-target:nth-of-type(10):checked~.slider__viewport .slider-item:nth-child(n+12),
.slider-target:nth-of-type(9):checked~.slider__viewport .slider-item:nth-child(n+11),
.slider-target:nth-of-type(8):checked~.slider__viewport .slider-item:nth-child(n+10),
.slider-target:nth-of-type(7):checked~.slider__viewport .slider-item:nth-child(n+9),
.slider-target:nth-of-type(6):checked~.slider__viewport .slider-item:nth-child(n+8),
.slider-target:nth-of-type(5):checked~.slider__viewport .slider-item:nth-child(n+7),
.slider-target:nth-of-type(4):checked~.slider__viewport .slider-item:nth-child(n+6),
.slider-target:nth-of-type(3):checked~.slider__viewport .slider-item:nth-child(n+5),
.slider-target:nth-of-type(2):checked~.slider__viewport .slider-item:nth-child(n+4),
.slider-target:nth-of-type(1):checked~.slider__viewport .slider-item:nth-child(n+3) {
    transform: translate3d(0, 0, -15vh) rotateY(-45deg);
}

.card {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    color: currentColor;
    transition: color 0.3s linear 0.3s;
}

.card:focus {
    outline: 0;
}

.card::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background-image: var(--card-image);
    background-size: cover;
    background-position: center center;
    filter: blur(40px);
    transform: scale(1.15);
    border-radius: 50%;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.3s cubic-bezier(0.62, 0.28, 0.23, 0.99);
}

.card:hover::before {
    opacity: 0.4;
}

.card__container {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: inherit;
}

.card__container>*,
.card__container> ::before,
.card__container> ::after {
    border-radius: inherit;
}

.card__container::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background-color: rgba(248, 248, 248, 0.068);
    border-radius: inherit;
    z-index: 1;
}

.card__image {
    position: absolute;
    display: block;
    width: 70%;
    height: 40%;
    background-image: var(--card-image);
    background-size: cover;
    background-position: center center;
    opacity: 0.8;
    transition: opacity 0.4s cubic-bezier(0.62, 0.28, 0.23, 0.99);
    z-index: 0;
}

.card:hover .card__image,
.card:focus .card__image {
    opacity: 1;
}

.card__content {
    position: absolute;
    display: block;
    overflow: hidden;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 2.4rem;
    font-size: 1.6rem;
    line-height: 1.25;
    z-index: 2;
}

.card-title {
    display: block;
    font-size: 3.2rem;
    line-height: 1.2;
    font-weight: bold;
    margin-top: 0.8rem;
    color: currentColor;
}

.card-title a {
    color: inherit;
    text-decoration: none;
    font-size: inherit;
}

.card-title a:hover {
    text-decoration: underline;
}

@media (max-height: 480px) {
    .card-title {
        font-size: 2.4rem;
    }
}

.card-description {
    display: none;
    margin-top: 1.6rem;
}

@media (min-height: 640px) {
    .card-description {
        display: block;
    }
}

.card-tag-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1.4rem;
    line-height: 1.2;
    white-space: nowrap;
    margin-left: -0.6rem;
    margin-top: 1rem;
}

.card-tag-list-item {
    display: inline-block;
    margin-left: 0.6rem;
    margin-top: 0.6rem;
    padding: 0.2rem 0.4rem;
    border: solid 1px currentColor;
    border-radius: 4px;
    background: transparent;
}

@media (max-height: 480px) {
    .card-tag-list {
        display: none;
    }
}

.card-meta {
    display: block;
    font-size: 1.4rem;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 0.4rem;
}

.card-meta span::before {
    display: inline-block;
    margin: 0 0.5rem 0.2rem;
    content: "";
    font-size: 1rem;
    line-height: 0.5rem;
    padding: 1px;
    border-radius: 50%;
    vertical-align: middle;
    background-color: currentColor;
}

.card-meta span:first-child {
    margin-left: 0;
}

.card-meta span:first-child::before {
    display: none;
}

/* Slider 7 */
.slider-target:nth-of-type(7):checked~.slider__viewport .slider__container {
    transform: translateX(-300%);
}

/* Slider 8 */
.slider-target:nth-of-type(8):checked~.slider__viewport .slider__container {
    transform: translateX(-350%);
}

/* Slider 9 */
.slider-target:nth-of-type(9):checked~.slider__viewport .slider__container {
    transform: translateX(-400%);
}

.slider-target:nth-of-type(10):checked~.slider__viewport .slider__container {
    transform: translateX(-450%);
}

.slider-target:nth-of-type(11):checked~.slider__viewport .slider__container {
    transform: translateX(-500%);
}

.slider-target:nth-of-type(12):checked~.slider__viewport .slider__container {
    transform: translateX(-550%);
}

.slider-target:nth-of-type(13):checked~.slider__viewport .slider__container {
    transform: translateX(-600%);
}

.slider-target:nth-of-type(14):checked~.slider__viewport .slider__container {
    transform: translateX(-650%);
}

/* Estilos para los nuevos sliders */
.slider-item:nth-child(7) {
    left: 300%;
}

.slider-item:nth-child(8) {
    left: 350%;
}

.slider-item:nth-child(9) {
    left: 400%;
}

.slider-item:nth-child(10) {
    left: 450%;
}

.slider-item:nth-child(11) {
    left: 500%;
}

.slider-item:nth-child(12) {
    left: 550%;
}

.slider-item:nth-child(13) {
    left: 600%;
}

.slider-item:nth-child(14) {
    left: 650%;
}


.card__content {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Mostrar el contenido al pasar el cursor por encima */
.slider-item__inner:hover .card__content {
    opacity: 1;
    visibility: visible;
}


.back-button-container {
    position: fixed;
    bottom: -100px; /* Ajusta esta propiedad para cambiar la distancia desde abajo */
    right: 0;
    padding: 10px;
    z-index: 999;
    border-radius: 50%;
}

.back-button img {
    width: 300px;
    height: 300px;
    transition: transform 0.2s ease-in-out;
}

.back-button:hover {
    transform: scale(1.2);
}


.logo-container {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999; /* Para asegurarse de que esté en la parte superior */
}

.logo-img {
    width: 20%; /* Ajusta el tamaño según lo necesario */
    height: 20%;
}